@{
    ViewBag.Title = "Home Page";
}


<p>@ViewBag.Test0</p>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IPS Project</title>
</head>

<body>
    <h2>Poem to look at</h2>
    <p>KPI is love;<br/>
    KPI is life</p>
</body>

</html>